@model VeiculoModel

@section Styles {
    <link rel="stylesheet" href="~/css/Alugar.css" />
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="d-flex justify-content-between align-items-center p-2 alugar-topbar">
    <a asp-controller="Home" asp-action="Index">Voltar</a>
    <button>
        <i class="fa-regular fa-heart"></i> Favoritar
    </button>
</div>

<div class="alugar-container">
    <div class="alugar-card">
        <div>
            <img src="@Model.ImagemUrl" alt="Imagem do Veículo" class="alugar-imagem" />
        </div>

        <div class="alugar-linha-vertical"></div>

        <div class="alugar-info">
            <h3>@Model.Modelo - @Model.Marca</h3>
            <p>Ano: @Model.Ano</p>
            <p>Cor: @Model.Cor</p>
            <p>Categoria: @Model.Categoria</p>
            <p><strong>Preço:</strong> <span style="color:chocolate">R$ @Model.ValorDiaria.ToString("f2")</span></p>
            <a class="btn btn-success" asp-controller="Reserva" asp-action="Cadastro" asp-route-id="@Model.id">Alugar</a>
        </div>
    </div>
</div>
