@model IEnumerable<VeiculoModel>;

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Veículos Disponíveis</h2>
    <div class="row">

        @foreach(var item in Model)
        {
            <div class="col-md-3" >
                <div class="card mb-2 shadow-sm">
                    <img src="@item.ImagemUrl" class="card-img-top"  style="width: 100%; height: 150px; object-fit: cover;" alt="Imagem veiculo">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(Model => item.Modelo)</h5>
                        <p class="card-text">@Html.DisplayFor(Model => item.Ano)</p>
                        <p class="card-text">@Html.DisplayFor(Model => item.Cor)</p>
                        <p class="card-text">@Html.DisplayFor(Model => item.Categoria)</p>
                        <p class="card-text"><strong> R$ @Html.DisplayFor(Model => item.ValorDiaria)</strong></p>
                        <a class="btn btn-primary btn-block" asp-controller="Veiculo" asp-action="Alugar" asp-route-id="@item.id">Alugar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
